# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Render/.vs/MapaASCII/v14/*.suo
/Render/RCore/Debug
/Render/RCore/Release
/Render/RCore/*.ini
/Render/RScreen/Debug
/Render/RUtils/Debug
/Win32.Debug
/x64.Debug
/obj/x64.Debug/RUtils
/obj/x64.Debug/RScreen
/obj/x64.Debug/RCore
/obj/Win32.Debug/Utils
/obj/Win32.Debug/MAScreen
/obj/Win32.Debug/MapaASCII
/Render/*.db
/Render/*.opendb
/Render/.vs/Render/v14/*.suo
/Render/*.sdf
